@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0px;
  background: url('background.png');
  background-size: 1620px 750px;
}

* {
  font-family: Roboto;
}

.title {
  -webkit-text-stroke: 0.3px black;
  color: #ebc806;
  text-align: center;
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 100px;
}

.subtitle {
  -webkit-text-stroke: 0.1px black;
  color: #ebc806;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
}

#input {
  margin-top: 45px;
  width: 45%;
  height: 30px;
  outline: none;
  background: black;
  border: 2px solid #ebc806;
  color: #ebc806;
  caret-color: #ebc806;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

::placeholder {
  color: #ebc806;
  font-size: 20px;
}

#go {
  border: 2px solid #ebc806;
  color: #ebc806;
  height: 44px;
  width: 45px;
  background: black;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.github {
  border-radius: 100%;
  background-color: black;
  color: #ebc806; 
  height: 50px;
  width: 50px;
  font-size: 45px;
  margin-top: 45px;
  cursor: pointer;
}

.i {
  color: #ebc806; 
  height: 50px;
  width: 50px;
  font-size: 45px;
  margin-top: 45px;
  cursor: pointer;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

  ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;

}	

  li {
float: left;

}
			
  li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: 'Righteous', cursive;
font-size: 18px;
transition: color .8s;
transition: background-color .8s;
}

  li a:hover {
background-color: #111;
color: lightgrey;
transition: color .8s;
transition: background-color .8s;
}
			p{
          		padding: 0px 16px;
          		color: white;
font-family: 'Righteous', cursive;
          		letter-spacing: 2px;
}

.dropdown {
  float: left;
  overflow: hidden;
  transition: color .8s;
transition: background-color .8s;
}

.dropdown .dropbtn {  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
transition: background-color .8s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: color .8s;
transition: background-color .8s;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: left;
  transition: color .8s;
transition: display .8s;
}

.dropdown-content a:hover {
  background-color: #111;
transition: background-color .8s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: block .8s;
}