@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

legend{
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

html {
  text-align: center;
  background: url(images/background.gif);
  background-repeat: repeat;
  background-size: 1920px 1080px;
}


h1 {
  outline: 5px dotted white;
  font-family: 'Righteous', cursive;
  font-size:30px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


h3 {
  color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


.unb:hover {
  cursor: ponter;
}

.back {
  background-color: orange;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
    font-family: 'Righteous', cursive;font-size: 22px;
}

#outline{
	color: black;
	-webkit-text-stroke: 1px white;
}

body {
  margin: 0px;
}


  ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;

}	

  li {
float: left;

}
			
  li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: 'Righteous', cursive;
font-size: 18px;
transition: color .8s;
transition: background-color .8s;
}

  li a:hover {
background-color: #111;
color: lightgrey;
transition: color .8s;
transition: background-color .8s;
}

	p{
padding: 0px 16px;
color: white;
font-family: 'Righteous', cursive;
letter-spacing: 2px;
}

.gameimg {
width: 100%;
height: 265px;
border-bottom: 1px solid white;
border-radius: 8px 8px 0px 0px;
object-fit: cover;
}

.game {
width: 230px;
height: 310px;
border-radius: 8px;
cursor: pointer;
border: 1px solid white;
display: inline-block;
margin-right: 35px;
margin-left: 35px;
margin-top: 15px;
margin-bottom: 15px;
}

.game:hover {
  border: 1px solid red;
}




.gameinfo {
width: 100%;
text-align: center;
overflow: hidden;
text-overflow: ellipsis;
color: white;
font-size: 16px;
line-height: 35px;
}



.container {
	padding: 20px;
}

.box {
	margin: auto;
	background-color: white;
	padding: 10px;
	width: 400px;
}

#glist {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 400px;
	height: 520px;
	padding: 0;
	text-align: center;
}

#gsearchbar {
	outline: none;
	width: 374px;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 12px;
	margin-bottom: 10px;
	transition: 0.2s ease;
}

#gsearchbar:focus {
	background-color: #eee;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

#glist h2 {
	display: block;
	color: white;
	font: 18px;
	border: 1px solid #060606;
	margin: -1px 0 0 0;
	background-color: #060606;
	padding: 12px;
	font-weight: bold;
	user-select: none;
}

#glist a {
	display: block;
	text-decoration: inherit;
	color: black;
	font-size: 18px;
	border: 1px solid #dddddd;
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	transition: 0.2s ease;
}

#glist a:hover {
	background-color: #eeeeee;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.fcc-btn2 {
width: 30%;
margin-top: 14px;
outline: none;
color: white;
border-radius: 5px;
padding: 3px;
padding-left: 8px;
border: 1.5px solid white;
font-size: 15px;
height: 28px;
background-color: rgb(16,16,16,0);
}

.fcc-btn {
width: 62px;
color: white;
border-radius: 5px;
padding: 3px;
border: 1.5px solid white;
font-size: 15px;
height: 38px;
background-color: rgb(16,16,16,0);
cursor: pointer;
}

.fcc-btn:hover {
width: 62px;
color: black;
border-radius: 5px;
padding: 3px;
border: 1.5px solid black;
font-size: 15px;
height: 38px;
background-color: white;
cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
  transition: color .8s;
transition: background-color .8s;
}

.dropdown .dropbtn {  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
transition: background-color .8s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: color .8s;
transition: background-color .8s;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: left;
  transition: color .8s;
transition: display .8s;
}

.dropdown-content a:hover {
  background-color: #111;
transition: background-color .8s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: block .8s;
}

.logo {
  border: 1px solid black;
  border-radius: 50%;
  filter: invert(100%);
}

